@import url(https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Font-weight: 500,700,800 */

:root {
--LightRed: hsla(0, 100%, 67%, 0.082);
--Red: hsla(0, 100%, 67%);
--OrangeyYellow: hsl(39, 100%, 56%, 0.082);
--Orange: hsl(39, 100%, 56%);
--GreenTeal: hsl(166, 100%, 37%, 0.082);
--Green: hsl(166, 100%, 37%);
--CobaltBlue: hsl(234, 85%, 45%, 0.082);
--Blue: hsl(234, 85%, 45%);
--LightSlateBlue_background: hsl(252, 100%, 67%);
--LightRoyalBlue_background: hsl(241, 81%, 54%);
--VioletBlue_circle: hsla(256, 72%, 46%, 1);
--PersianBlue_circle: hsla(241, 72%, 46%, 0);
--White: hsl(0, 0%, 100%);
--PaleBlue: hsl(221, 100%, 96%);
--LightLavender: hsl(241, 100%, 89%);
--DarkGrayBlue: hsl(224, 30%, 2%);
--LightGrayBlue: hsla(240, 20%, 2%, 0.808);
--GrayLight: rgb(235, 235, 235);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: 'Hanken Grotesk';
}

.container1 {
	background: linear-gradient(var(--LightRoyalBlue_background), var(--LightSlateBlue_background));
	min-height: 360px;
	width: 100%;
	color: var(--GrayLight);
	text-align: center;
	padding: 20px 60px 35px;
	border-radius: 0 0 60px 60px;
}

.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background: linear-gradient(var(--VioletBlue_circle), var(--PersianBlue_circle));
	margin: 50px auto 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

.txtYourResult {
	font-weight: 700;
}

.txt76 {
	text-align: center;
	font-size: 4rem;
	font-weight: bolder;
	color: var(--White);
}

.txtOf100 {
	font-size: 1rem;
	font-family: 500;
	color: var(--GrayLight);
}

.txtGreat {
	font-size: 1.4rem;
	color: var(--White);
	font-weight: 600;
}

.txtYouScored {
	font-size: 1.23rem;
	margin-top: 15px;
}

.container2 {
	/* border: 1px solid red; */
	width: 100%;
	min-height: 460px;
	padding: 30px;
}

.summary {
	font-weight: bolder;
	margin-bottom: 30px;
}

.containers {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	border-radius: 12px;
	padding: 20px;
	margin-bottom: 20px;
}

.txtGeneral {
	font-weight: 600;
	margin-left: 12px;
}

.reaction {
	background-color: var(--LightRed);
}

.txt_reaction {
	color: var(--Red);
}

.memory {
	background-color: var(--OrangeyYellow);
}

.txt_memory {
	color: var(--Orange);
}

.verbal {
	background-color: var(--GreenTeal);
}

.txt_verbal {
	color: var(--Green);
}

.visual {
	background-color: var(--CobaltBlue);
}

.txt_visual {
	color: var(--Blue);
}

.numbrerWeight {
	font-weight: bold;
}

input[type="submit"] {
	background-color: var(--DarkGrayBlue);
	color: var(--White);
	font-weight: 600;
	padding: 10px;
	font-size: 1.2rem;
	height: 60px;
	width: 100%;
	border-radius: 32px;
	border: none;
}

input[type="submit"]:hover {
	background: linear-gradient(var(--LightRoyalBlue_background), var(--LightSlateBlue_background));
}

@media screen and (min-width: 900px) {

	body {
		min-height: 100vh;
    display: grid;
    place-content: center;
	}

	section {
		display: flex;
		flex-direction: row;
		padding: 20px;
		box-shadow: 15px 15px 20px var(--PaleBlue);
		border-radius: 30px;
	}

	.container1 {
		width: 370px;
		height: 550px;
		border-radius: 60px 60px 60px 60px;
		padding: 40px;
	}
	.circle {
		width: 200px;
		height: 200px;
		padding: 40px;
	}

	.txtYourResult {
		font-weight: 700;
		font-size: 1.4rem;
	}
	
	.txt76 {
		font-size: 5rem;
	}
	
	.txtOf100 {
		font-size: 1.1rem;
	}

	.txtGreat {
		font-size: 2.1rem;
	}

	.txtYouScored {
		/* width: 87%; */
		font-size: 1.3rem;
		margin: 15px auto;
	}

	.container2 {
		background-color: var(--White);
		width: 350px;
		min-height: 550px;
	}

	.summary {
		font-size: 1.5rem;
	}

	input[type="submit"] {
		margin-top: 35px;
	}
	
}

.attribution { 
	font-size: 14px; 
	text-align: center; 
	margin-top: 40px;
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}